body {
  background-color: white;
}

div {
  width: 600px;
}

.about-me {
  color: white;
  font-style: italic;
  background-color: #007777;
}

.blog-post {
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
  background-color: #003333;
}
